
.encabezadoseccion{
	display: flex;
    width: 100%;
    font-family:'Poppins', sans-serif; 
	margin: 0%;
	font-size: 30px;
   
	color:black;
	background-color: #f2efe8;
	padding: 1px;
	border: none;
	align-items: center;
	justify-content: center;



 }