
.encabezadoseccion{
	display: flex;
    width: 100%;
    font-family: 'Anonymous Pro', monospace;;
	margin: 0%;
	font-size: 30px;
   
	color:black;
	background-color:  #f4dfe2;
	padding: 10px 10px;
	border: none;
	align-items: center;
	justify-content: center;



 }