/* menu index*/
 .menunav {   
 
   width: 100%;
   display: flex;
   align-content: space-between;
   justify-content: center;

    ul, li, a {

    background-color: #f2efe8;
	display: inline-block;
    font-size: 20px;
    color:black;
 	font-family: 'DM Sans', sans-serif;
	text-decoration: none;
	list-style: none;
	align-content: space-between;

		&:hover {
          background: #f4dfe2;
            

 		}
	}
 }
