
@mixin titulosSection ($width, $height) {
    
    height: $height;
    width: $width;

    display: grid;
    text-align: center;
    align-items: center;
    background-color: $rosita;
    font-family: $font-fam-mono;
    
}