
@import 'menunav';
@import 'encabezadoseccion';
@import 'imagenesgral';
@import 'mixin';
@import 'nosotras';
@import 'contenedorformulario';
@import 'piedepag';







/* variables */

$font-general: 20px; 
$font-fam-general: 'DM Sans', sans-serif;
$font-fam-mono: 'Anonymous Pro', monospace;;
$font-fam-cursiva: 'Beth Ellen', cursive;
$padding-general: 0;
$margin-general: 10px;
$clarito: #FEECDA;
$blanquito: #ede8e6;
$rosita: #f4dfe2;
$manteca: #f2efe8;



$medida-ancho: 1250px;

/* secciones */


nav{
    width: $medida-ancho*0,9;
    
}

/*
h2{
    @include titulosSection(1250px, relative);
}*/
    
/*h1{
    font-family: $font-fam-cursiva;
    font-size: 35px;
    display: grid;
    text-align: center;
    align-items: center;
    width: relative;
  
   
}*/


/*media*/
@media screen and (min-width: 768px) { 
	
}