
@import 'menunav';
@import 'encabezadoseccion';
@import 'imagenesgral';





/* variables */

$font-general: 20px; 
$font-fam-general: 'DM Sans', sans-serif;
$padding-general: 0;
$margin-general: 10px;




@media screen and (min-width: 768px) { 
	
}